/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../scss/setting.scss */
a {
  text-decoration: none;
}

/* line 16, ../scss/setting.scss */
.sefit {
  font-family: "Lucida Bright", Georgia, serif;
}

/* line 19, ../scss/setting.scss */
.sans-serif {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

/* line 4, ../scss/style.scss */
*.clear {
  clear: both;
}

/* line 7, ../scss/style.scss */
* {
  box-sizing: border-box;
  font-family: serif;
}

/* line 11, ../scss/style.scss */
body {
  background-image: url("../img/restaurant.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* line 18, ../scss/style.scss */
.wrapper__above {
  position: relative;
  z-index: 10;
}

/* line 21, ../scss/style.scss */
.wrapper {
  margin: 0px 10px;
}

/* line 24, ../scss/style.scss */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  min-height: 110px;
  display: inline-block;
  width: 100%;
  font-family: "Lucida Bright", Georgia, serif;
  background-color: #333;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 10px;
}
/* line 33, ../scss/style.scss */
.header a {
  color: #fff;
}

/* line 37, ../scss/style.scss */
.header__logo {
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 90px;
  background-color: #000;
  padding: 0 10px;
  margin: 10px 0;
  display: inline-block;
  float: left;
}

/* line 44, ../scss/style.scss */
.header__nav {
  float: left;
  padding-top: 40px;
  display: inline-block;
}
/* line 48, ../scss/style.scss */
.header__nav ul, .header__nav li, .header__nav .header__nav__item {
  display: inline-block;
}

/* line 52, ../scss/style.scss */
.header__nav__item {
  font-size: 23px;
  margin-right: 20px;
  color: #fff;
  text-align: center;
}
/* line 56, ../scss/style.scss */
.header__nav__item:first-child {
  margin-left: 20px;
}

/* line 60, ../scss/style.scss */
.header__nav__item--small {
  font-size: 17px;
  font-variant: small-caps;
}

/* line 63, ../scss/style.scss */
.header__section {
  float: right;
  margin-top: 10px;
  font-size: 13px;
  font-family: "Lucida Bright", Georgia, serif;
  color: #fff;
}
/* line 66, ../scss/style.scss */
.header__section .header__section--social {
  float: right;
  text-align: center;
  background-color: #000;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

/* line 74, ../scss/style.scss */
.message {
  margin-top: 110px;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 13px;
  position: relative;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
/* line 82, ../scss/style.scss */
.message::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 180px;
  width: 100%;
  background-color: #333;
  z-index: -1;
}

/* line 90, ../scss/style.scss */
.message__content {
  padding-left: 10px;
}

/* line 93, ../scss/style.scss */
.hero {
  background-color: white;
  position: relative;
}

/* line 98, ../scss/style.scss */
.slider {
  background-color: #fff;
  padding: 10px;
}

/* line 102, ../scss/style.scss */
.slider__wrapper {
  background-color: #e6e6e6;
  width: 100%;
  display: table;
}

/* line 107, ../scss/style.scss */
.slider__image {
  width: 65%;
  float: left;
  display: table-cell;
}
@media (max-width: 768px) {
  /* line 107, ../scss/style.scss */
  .slider__image {
    width: 100%;
  }
}

/* line 115, ../scss/style.scss */
.slider__message__wrapper {
  padding: 20px;
  width: 35%;
  float: left;
  display: table-cell;
  vertical-align: middle;
  line-height: 61.5px;
}
@media (max-width: 768px) {
  /* line 115, ../scss/style.scss */
  .slider__message__wrapper {
    width: 100%;
  }
}

/* line 126, ../scss/style.scss */
.slider__message {
  font-size: 41px;
}

/* line 129, ../scss/style.scss */
.slider__message__span {
  display: block;
  font-size: 17px;
}

/* line 133, ../scss/style.scss */
.hero__sub {
  position: relative;
  padding: 10px;
}

/* line 137, ../scss/style.scss */
.hero__sub__welcome {
  width: 65%;
  float: left;
}
@media (max-width: 640px) {
  /* line 137, ../scss/style.scss */
  .hero__sub__welcome {
    width: 100%;
  }
}

/* line 144, ../scss/style.scss */
.hero__sub__welcome--title, .hero__sub__take-away--title {
  padding: 0 10px;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
}

/* line 150, ../scss/style.scss */
.hero__sub__welcome--content, .hero__sub__take-away--content {
  padding: 10px;
  width: calc(100% - 120px);
  float: left;
  font-size: 17px;
  line-height: 25.5px;
}

/* line 157, ../scss/style.scss */
.hero__sub__welcome--image {
  width: 100px;
  float: right;
  margin: 10px;
}

/* line 162, ../scss/style.scss */
.hero__sub__take-away {
  width: 35%;
  float: right;
}
@media (max-width: 640px) {
  /* line 162, ../scss/style.scss */
  .hero__sub__take-away {
    width: 100%;
    padding-bottom: 10px;
  }
}

/* line 173, ../scss/style.scss */
.hero__sub__take-away--content {
  width: 100%;
}

/* line 177, ../scss/style.scss */
.hero__sub__take-away--phone {
  display: inline-block;
  float: right;
  font-size: 17px;
  line-height: 34px;
  font-style: italic;
  padding: 0 17px;
  margin-right: -10px;
  color: #fff;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #333;
}

/* line 190, ../scss/style.scss */
.arrow {
  content: "";
  width: 70px;
  height: 70px;
  width: calc(100% - 20px);
  margin: 0 auto;
}

/* line 196, ../scss/style.scss */
.arrow__message {
  color: #fff;
  font-size: 13px;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  text-align: center;
  line-height: 70px;
  letter-spacing: 1px;
}

/* line 200, ../scss/style.scss */
.curry__steps {
  line-height: 70px;
  text-align: center;
  background-color: #f0f0f0;
}
/* line 205, ../scss/style.scss */
.curry__steps ol li {
  display: inline-block;
  font-size: 17px;
  color: #333;
}

/* line 210, ../scss/style.scss */
.curry {
  width: 100%;
  text-align: center;
}

/* line 214, ../scss/style.scss */
.curry__sauce, .curry__ingredients, .curry__side {
  padding-top: 70px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  width: calc(100% - 20px);
}

/* line 220, ../scss/style.scss */
.curry__sauce__header, .curry__ingredients__header, .curry__side__header {
  display: inline-block;
  width: 50%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

/* line 227, ../scss/style.scss */
.curry__sauce__header--number, .curry__ingredients__header--number, .curry__side__header--number {
  position: absolute;
  top: -28px;
  left: calc(50% - 20px);
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 23px;
  line-height: 23px;
  padding: 7px 0;
  width: 40px;
}

/* line 234, ../scss/style.scss */
.curry__sauce__header--title, .curry__ingredients__header--title, .curry__side__header--title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 23px;
}

/* line 238, ../scss/style.scss */
.curry__sauce__header--content, .curry__ingredients__header--content, .curry__side__header--content {
  font-size: 17px;
  line-height: 30px;
  font-style: italic;
  color: #666;
  padding-bottom: 23px;
}

/* line 243, ../scss/style.scss */
.curry__sauce__item__wrapper, .curry__ingredients__group__wrapper, .curry__side__item__wrapper {
  width: 100%;
  padding: 10px;
  margin-top: 40px;
}

/* line 248, ../scss/style.scss */
.curry__sauce__item, .curry__side__item {
  width: 25%;
  padding: 10px;
  display: inline-block;
  float: left;
  padding-bottom: 23px;
}
/* line 254, ../scss/style.scss */
.curry__sauce__item a, .curry__side__item a {
  color: #333;
}
/* line 257, ../scss/style.scss */
.curry__sauce__item:hover, .curry__side__item:hover {
  background-color: #333;
}
/* line 259, ../scss/style.scss */
.curry__sauce__item:hover a, .curry__side__item:hover a {
  color: #fff;
}
@media (max-width: 640px) {
  /* line 248, ../scss/style.scss */
  .curry__sauce__item, .curry__side__item {
    width: 50%;
  }
}

/* line 267, ../scss/style.scss */
.curry__sauce__item--image, .curry__side__item--image {
  width: 100%;
  box-sizing: content-box;
}

/* line 271, ../scss/style.scss */
.curry__sauce__item--title, .curry__ingredients__group__header--title, .curry__side__item--title {
  font-size: 23px;
  line-height: 46px;
  letter-spacing: 1px;
}

/* line 275, ../scss/style.scss */
.curry__sauce__item--content {
  font-size: 17px;
  line-height: 23px;
}

/* line 299, ../scss/style.scss */
.curry__ingredients__group {
  width: 25%;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 640px) {
  /* line 299, ../scss/style.scss */
  .curry__ingredients__group {
    width: calc(50% - 5px);
  }
}

/* line 309, ../scss/style.scss */
.curry__ingredients__group__header {
  border: 1px solid #ccc;
  border-bottom: 0;
  width: 100%;
  background-color: #fff;
}

/* line 315, ../scss/style.scss */
.curry__ingredients__group__header--image {
  margin: 23px;
  margin-bottom: 0;
}

/* line 322, ../scss/style.scss */
.curry__ingredients__group__content {
  width: 100%;
  border: 1px solid #ccc;
}

/* line 326, ../scss/style.scss */
.curry__ingredients__group__content--item {
  background-color: #fff;
  font-size: 17px;
  line-height: 46px;
  padding: 0 23px;
  margin: 10px;
}
/* line 332, ../scss/style.scss */
.curry__ingredients__group__content--item a {
  color: #333;
}
/* line 335, ../scss/style.scss */
.curry__ingredients__group__content--item:hover {
  background-color: #333;
}
/* line 337, ../scss/style.scss */
.curry__ingredients__group__content--item:hover a {
  color: #fff;
}

/* line 361, ../scss/style.scss */
.curry__side__item {
  float: none;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 640px) {
  /* line 361, ../scss/style.scss */
  .curry__side__item {
    width: calc(100%/3 - 5px);
  }
}

@media (max-width: 640px) {
  /* line 376, ../scss/style.scss */
  .curry__side__item--title {
    font-size: 17px;
  }
}

/* line 383, ../scss/style.scss */
.menu {
  text-align: center;
  padding: 20px;
  margin-top: 110px;
}
/* line 387, ../scss/style.scss */
.menu section {
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 389, ../scss/style.scss */
.menu section h1 {
  background-color: #fff;
  width: 100%;
}
